@import "typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-komarch no-ligatures antialiased;
    }

    [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'KomarchIcons' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }
}

@layer components {
    .nav-menu {
        @apply max-h-0 transition-max-h duration-500 overflow-hidden;
    }

    .nav-menu-expanded {
        max-height: 700px;
    }

    .map-artworks {
        height: 585px;
    }

    @screen md {
        .nav-menu {
            max-height: unset;
        }
    }

    .container-article {
        max-width: 762px;
    }
}

@layer utilities {
    .no-ligatures {
        font-variant-ligatures: none;
    }

    .ligatures {
        font-variant-ligatures: common-ligatures;
    }

    .link-area:before {
        content: '';
        @apply absolute inset-0;
    }

    /* TODO: REVISE: */
    .icon-search:before {
        content: "\1f50d";
    }
}
